*{
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}


.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  gap: 10px;
  padding: 2rem;
}
img{
  max-width: 100%;
  /* border-radius: 1rem; */
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}